{% extends "Mipagina/index.html" %}
{% load static %}

{% block titulo %} estudiante Form {% endblock titulo %}

{% block cuerpo %}
    <div style="text-align: center;">
        <h1 class="test-bg-info">Carga de estudiantes</h1>
        <form method="post" action="" style="max-width: 300px; margin: 0 auto;">
            {% csrf_token %}
            <table>
                {{miformulario.as_table}}
            </table>
            <input type="submit" class="btn btn-primary" value="Enviar">
        </form>
    </div>
{% endblock cuerpo %}
